@import 'tailwindcss';

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
    background-color: #111113;
    color: white;
}
.App {
    font-family: monospace;
}

button {
    background: none;
    color: cornflowerblue;
    font-size: x-large;
    border: 1px dashed cornflowerblue;
    border-radius: 5px;
    padding: 0 5px;
}
button:hover {
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
}
ul {
    list-style: circle;
    margin-left: 5px;
}
li {
    list-style-type: circle;
    display:list-item;
}
button {
    margin-left: 5px;
}
.App-header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}
.App-header-text {
    text-align: center;
    padding-right: 2.5rem;
    vertical-align: middle;
}
.App-github-image {
    margin-bottom: 5px;
}
.App-console-line {
    white-space: pre-wrap;
    margin-left: 5px;
    text-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: large;
}
h1 {
    font-size: xx-large;
    margin: 0;
}
h2 {
    font-size: x-large;
}
h1, h2 {
    font-family: "Courier New", Courier, monospace;
}
.wip {
    border: 2px solid darkred;
    color: white;
}
.wip:hover {
    background-color: lightgray;
    border: 2px solid darkred;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: cornflowerblue;
}
img {
    max-height: 50vh;
    width: auto;
}
