@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #111113;
    color: white;
}
.App {
    font-family: monospace;
}
.App-console-line {
    font-size: large;
}
button {
    background: none;
    color: cornflowerblue;
    font-size: x-large;
    border: 1px dashed cornflowerblue;
    border-radius: 5px;
    padding: 0 5px;
}
button:hover {
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
}
ul {
    list-style: circle;
    margin-left: 5px;
}
li {
    list-style-type: circle;
    display:list-item;
}