@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');
html {
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
.App {
    font-family: 'Source Code Pro', monospace;
}
.App-body {
    padding-left: 10%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
nav ul li {
    display: inline;
    padding: 5px 10px;
    border-left: 1px solid #FFFFFF;
    font-size: 20pt;
}
nav ul li:first-child {
    border-left: none;
}
nav ul li:last-child {
    border-right: none;
}
li.selected {
    color: #aaaaaa;
}
hr {
    border: 1px solid #FFFFFF;
    margin: 0;
}
.App-nav {
    width: 100%;
    background-color: #333333;
}
nav ul li a, .App-header a {
    color: #FFFFFF;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #918fff;
}
nav ul li a:visited, .App-header a:visited {
    color: #FFFFFF;
}
.App-header {
    text-align: center;
}
.App-header span {
    font-size: 17pt;
}
.App-header h1 {
    font-size: 25pt;
}
.App-header a:hover {
    text-decoration: underline;
}
a {
    color: #419adc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #419adc;
}
.App-body h1 {
    font-size: 22.5pt;
}
.App-body p, .App-body li {
    font-size: 15pt;
}
.App-footer {
    text-align: center;
    width: 100%;
    background-color: #000000;
    flex-shrink: 0;
}
.about section {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 70vw;
    padding: 5px 5px;
    margin: 5px 0;
}
.App-content {
    flex: 1 0 auto;
}

select {
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    font-size: 15pt;
}
.article {
    width: 80vw;
}
.code-block {
    width: 60vw;
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}
code {
    font-family: 'Source Code Pro', monospace;
    color: #419adc;
    padding: 0 5px;
}
.searchBar {
    width: 60vw;
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    padding: 5px;
    font-size: 15pt;
    font-family: 'Source Code Pro', monospace;
}
.articleShort {
     border-radius: 10px;
     border: 1px solid #ffffff;
     width: 70vw;
     padding: 5px 5px;
     margin: 5px 0;
 }